@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>
    <b>Name:</b> Santos, Lean Andrew B.<br />
    <b>Stud ID No.:</b> 1079-18<br />
    <b>Age:</b> 21 years old<br />
    <b>Address:</b> 6th St. Rd. 6C, UPS 5, San Isidro, Paranaque City<br />
    <b>Birthdate:</b> March 1, 1999<br />
    <b>Course:</b> BS in Information Technology
</p>
